<%= form_for(customer) do |f| %>



<div class="form-group">
    <%= f.label :cust_id, class:'col-form-label col-form-label' %>
    <%= f.collection_select(:cust_id, Customer.all, :id, :first_name,
                              {
                                #selected: blog.topic.id,
                                include_blank: true
                              },
                              class: 'col-form-label'
                            )
    %>
  </div>

<% end %>





<!--<%# end %>-->

<!--<%# @customers.each do |customer| %>-->
<!--  <div><%#= customer.id %>-->
<!--        <%#= customer.cust_id %>-->
<!--        <%#= customer.first_name %>-->
<!--        <%#= customer.last_name %>-->
<!--        <%#= link_to 'Show', customer %>-->
<!--        <%#= link_to 'Edit', edit_customer_path(customer) %>-->
<!--        <%#= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></div>  -->
<!--<%# end %>        -->
