@import "bootstrap";
@import "jquery-ui";

.equip-card-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.equip-card{
  margin-top: 0px;
  margin-bottom: 0px;
}

.equip-row{
  margin-top: 0px;
  margin-bottom: 0px;
}

.custTag {
  color: blue;
  margin-top:20px;
}